.navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 16px !important;
}

.view {
  text-align: right;
}

.actionBtn {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.viewBtn {
  width: 38px;
  height: 20px;
}

.input-group {
  padding-bottom: 5%;
}

.button {
  text-decoration: none !important;
}
